<!DOCTYPE html>
<html>
<head>
    <title>Фонарики</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://yandex.st/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://yandex.st/bootstrap/3.0.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Jquery -->

    <div class="container">
        {% for address, flash in flashlights %}
        <div class="well">
            <h2>{{ flash['ip'] }}<small>{{ address }}</small></h2>
            <div class="row">
                {% if flash['status'] == 'ON' or flash['status'] is None %}
                    <div class="col-lg-4" style="background: {{ flash['color'] }}; height: 100px"></div>
                {% else %}
                    <div class="col-lg-4" style="background: #ffffff; height: 100px"></div>
                {% end %}
                <div class="col-lg-8">
                    <form role="form" action="" method="post" name="{{ address }}">
                        {% if flash['status'] == 'ON' or flash['status'] is None %}
                            <button type="submit" class="btn" name="status" value="OFF">
                                <span class="glyphicon glyphicon-off text-danger"> OFF</span>
                            </button>
                        {% elif flash['status'] == 'OFF' %}
                            <button type="submit" class="btn" name="status" value="ON">
                                <span class="glyphicon glyphicon-off text-success"> ON</span>
                            </button>
                        {% end %}
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit" name="color" value="true">COLOR</button>
                            </span>
                            <input type="text" class="form-control" name="color_val" placeholder="{{ flash['color'] }}" pattern="[a-fA-F\d]{6}">
                         </div><!-- /input-group -->
                        <input type="hidden" name="address" value="{{ address }}">
                    </form>
                </div>
            </div>
        </div>
        {% end %}
    </div>
</body>
</html>
